:root {
    --color-white: hsl(0, 0%, 100%);
    --color-slate-300: hsl(212, 45%, 89%);
    --color-slate-500: hsl(216, 15%, 48%);
    --color-slate-900: hsl(218, 44%, 22%);
}

body {
    background-color: var(--color-slate-300);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* BEM naming convention
.block {}
.block__element {}
.block--modifier {}

see - https://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/
*/

/* block */
.qr-component {
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    border-radius: 20px;
    padding: 1rem 1rem 2.5rem;
    text-align: center;
    align-items: center;
    width: min-content;
}

/* block element */
.qr-component__text {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 1rem;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    min-width: 300px;
}

/* block element */
.qr-component__text-heading {
    color: var(--color-slate-900);
    font-size: 1.375rem;
    letter-spacing: 0;
    line-height: 120%;
}

/* block element */
.qr-component__text-description {
    color: var(--color-slate-500);
    font-size: 0.938rem;
    letter-spacing: 0.013rem;
    line-height: 140%;
}

/* block element */
.qr-component__image {
    border-radius: 10px;
    width: 300px;
}

footer {
    display: none;
}